h1, h2 {
    font-family: "ff-dax-compact-pro", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.ffdax {
    font-family: "ff-dax-compact-pro", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.pacifico {
  font-family: 'Pacifico';
}

.inter {
  font-family: 'Inter';
}

h6 {
    letter-spacing: 3px;
}

div.b {
  writing-mode: vertical-lr;
  text-orientation: upright;
}

.spacing {
  padding-top: 10%;
}

.spacing-s {
  padding-top: 2%;
}

.spacing-navbar {
  padding-top: 0.1%;
}

.spacing-side {
  padding-left: 2%;
  padding-right: 2%;
}

.spacing-footer {
  padding-left: 10%;
  padding-right: 10%;
}

.slab {
    font-family: "rockwell", serif;
    font-weight: 400;
    font-style: normal;
}

.center {
    text-align: center;
  }

.right {
    text-align: right;
}

.left {
  text-align: left;
}

.solo {
    background-color: black;
    color: white;
    padding-top: 12%;
    padding-bottom: 12%;
}

.solotext {
  font-size: 9rem;
}

.footer {
  background-color: black;
  color: white;
  padding-top: 8%;
  padding-bottom: 8%;
}

.medtext {
  font-size: 4rem;
}

.intro {
    color: white;
    padding-top: 12%;
    padding-bottom: 12%;
}

.bg-red {
    background-color: #ee4244;
    color: white;
}

.bg {
  transition: 0.3s;
}

.bg:hover{
  background-color: #ee4244;
  color: white;
}

.bg-white {
  background-color: white;
  color: #ee4244;
}

svg {
  position: relative;
  margin: 10px;
}

.svgspace {
  margin: 10px;
}

.svg-arrow {
  transition: 0.5s;
}

.svg-arrow:hover {
  transform: scale(1.2);
}

.image-gallery {
  transition: 0.5s;
}

.image-gallery:hover {
  transform: scale(0.9);
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.white-txt {
  color: white;
}

.a-red {
  color: #ee4244;
}

.instagram {
  background-color: #bc2a8d;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
}

.instagram:hover, .githubbtn:hover, .linkedin:hover {
  background-color: #ee4244;
}

.githubbtn {
  background-color: #2B3137;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
}

.linkedin {
  background-color: #0077b5;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
}

.home {
  background-color: #ee4244;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
}

.home:hover {
  background-color: black;
}

.text-v-center {
  padding: 70px 0;
}

.black {
  color: black;
}

body {
    overflow-x: hidden;
}

.profile-picture {
  border-radius: 100%;
}

.skills-pad{
  margin-top: 10px;
}

#navbar {
  overflow: hidden;
}

#navbar a {
  display: block;
}

a:hover {
  color: black;
}

.red-btn:hover {
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.black-text {
  color: black;
}

/*Portfolio 1*/

.bg-hive {
  background-color: #fde44b;
}

/*Portfolio 2*/

.bg-freshipe {
  background-color: #e94d28;
}

.bg-fdark {
  background-color: #181818;
}

.ea4d28 {
  background-color: #ea4d28;
}

.freshipe-orange {
  color: #ea4d28;
}

.e86e2a {
  background-color: #e86e2a;
}

.d84325 {
  background-color: #d84325;
}

.ffd747 {
  background-color: #ffd747;
}

.ffffff{
  background-color: white;
}

.ea4d28, .e86e2a, .d84325, .ffd747, .ffffff, .ff7900, .fcdfac, .ffc85a {
  height: 70px;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-black {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

/* Portfolio 3 */

.bg-mumu {
  background-color: #ffc75a;
}

.ff7900 {
  background-color: #ff7900;
}

.fcdfac {
  background-color: #fcdfac;
}

.ffc85a {
  background-color: #ffc85a;
}